.skewed-left {
    text-align: left;
    display: block;
    border-radius: 10px;
    margin-right: auto;
    max-width: 45%;
    margin-left: 20%;
    height: auto;
}

.skewed-right {
    text-align: right;
    display: block;
    border-radius: 10px;
    margin-right: auto;
    max-width: 45%;
    margin-left: 30%;
    height: auto;
}
