<header class="main-header">
    <nav role="navigation" aria-label="Main Navigation">
        <div class="navigation-container">
            <ul class="main-navigation-menu">
                <li><a href="home.html">Home Page</a></li>
                <li><a href="skills.html">My Skills</a></li>
                <li><a href="projects.html">My Projects</a></li>
                <li><a href="https://panel.greencypher.tech">Login</a></li>
                <li><a href="contact.html">Contact Me</a></li>
            </ul>
        </div>
    </nav>
</header>